
/* 
    Created on : Oct 14, 2022, 9:22:11 PM
    Author     : smuska
*/

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 100px auto;
}

.container .box{
    position: relative;
    width: calc(1200px - 30px);
    height: calc(800px - 30px);
    background: #008bc9;
    float: none;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}