
/* 
    Created on : Oct 14, 2022, 9:22:11 PM
    Author     : smuska
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background-image: url(../images/darkMountains.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;
    position: relative;
    left: 15px;
    margin: 20px 0 20px 0px;
    color: #fefffc;
}

.container{
    position: relative;
    width: 1200px;
    height: 800px;
    margin: 100px auto;
}

.container .box{
    position: relative;
    width: calc(1200px - 30px);
    height: calc(800px - 30px);
    background: #008bc9;
    float: none;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.container .box .wrapper {
    display: flex;
    position: relative;
}

.container .box .wrapper .sidebar{
    position: relative;
    width: calc(1200px - 1000px);
    height: calc(800px - 30px);
    background: #dcfcfc;
    padding: 0px 0px;
}

.container .box .wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
}

.container .box .wrapper .sidebar ul li a{
    color: #b29653;
    display: block;
}

.container .box .wrapper .sidebar ul li a .fas{
    width: 25px;
}

.container .box .wrapper .sidebar ul li:hover{
    background: #b29653;
}

.container .box .wrapper .sidebar ul li:hover a{
    color: #dcfcfc;
}

.container .box .wrapper .sidebar .inactive {
    background: #dcfcfc;
}

.container .box .wrapper .sidebar .inactive a{
    color: #b29653;
}

.container .box .wrapper .sidebar .active {
    background: #b29653;
}

.container .box .wrapper .sidebar .active a {
    color: #dcfcfc;
}

.container .box .header_container{
    width: calc(1200px - 30px);
}

.container .box .header_container .header{
    position: relative;
    padding: 30px;
    background: #fefffc;
    color: #008bc9;
    font-size: 30px;
}

.container .box .header_container .info{
    margin: 20px;
    color: #fefffc;
    line-hieght: 15px;
}

.container .box .header_container .info div{
    margin-bottom: 20px;
}

