<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Climber Homepage Route</title>
        <link th:href="@{/css/userHomepage.css}" rel="stylesheet" />
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    </head>
    <body>
        <div class ="container">
            <div class="box">
                <h1>Puzzle</h1>
                <div class="wrapper">
                    <div class="sidebar">
                        <ul id="tabs">
                            <li class="inactive">
                                <a th:href="@{'/climber/' + ${currentUserId}}">Home</a>
                            </li>
                            <li class="active">
                                <a th:href="@{'/climber/' + ${currentUserId} + '/routes'}">My Climbing Routes</a>
                            </li>
                            <li class="inactive">
                                <a th:href="@{'/climber/' + ${currentUserId} + '/gyms'}">My Climbing Gyms</a>
                            </li>
                            <li>
                                <a href="/">Log Out</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header_container" id="my_routes">
                        <div class="header" th:text="${route.name}"></div>
                        <div class="info">
                            <form action="#" th:action="@{'/climber/' + ${currentUserId} + '/routes/edit'}" th:object="${route}">
                                <input type="hidden" th:field="*{routeID}"/>
                                <button class="button" type="submit">Edit Route</button>
                            </form>
                            <form action="#" th:action="@{'/climber/' + ${currentUserId} + '/routes'}" method="post" th:object="${route}">
                                <input type="hidden" th:field="*{routeID}"/>
                                <button class="button" type="submit">Delete Route</button>
                            </form>
                            <ul>
                                <li>
                                    General Information
                                    <ul id="gen_info" >
                                        <li>Difficulty: <b th:text="${route.difficulty}"/></li>
                                        <li>Climbing Style: <b th:text="${route.climbingStyle}"></b></li>
                                        <li>Location and Environment: <b th:text="${route.locationAndEnvironment}"/></li>
                                        <li>Notes: <b th:text="${route.notes}"/></li>
                                    </ul>
                                </li>
                            </ul>
                            <form action="#" th:action="@{'/climber/' + ${currentUserId} + '/routes/' + ${route.routeID}}" method="post" th:object="${attempt}">
                            <div class="table-input">
                                Date:
                                <input type="text" th:field="*{date}"></input>
                                Number of Falls:
                                <input type="text" th:field="*{numOfFalls}"></input>
                                <input class="button3" type="submit" value="Add Attempt"></input>
                            </div>
                            </form>
                            <div class="scroll">
                            <table id="table">
                                <tr>
                                    <th>Date</th>
                                    <th>Number of Falls</th>
                                </tr>
                                <tr th:each="attempt : ${attemptList}">
                                    <td th:text="${attempt.date}"></td>
                                    <td th:text="${attempt.numOfFalls}"></td>
                                </tr>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>