<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/css/userHomepage.css}" rel="stylesheet" />
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Climber Homepage Routes</title>
</head>

<body>
    <div class="container">
        <div class="box">
            <h1>Puzzle</h1>
            <div class="wrapper">
                <div class="sidebar">
                    <ul id="tabs">
                        <li class="inactive">
                            <a href="/climber/{currentUserId}(currentUserId=${currentUserId})">Home</a> <!-- We can put in a logo here and make onclick = homepage-->
                        </li>
                        <li class="active">
                            <a href="#top">My Climbing Routes</a>
                        </li>
                        <li class="inactive">
                            <a href="/climber/{currentUserId}(currentUserId=${currentUserId})/gyms">My Climbing Gyms</a>
                        </li>
                        <li>
                            <a href="/">Log Out</a>
                        </li>
                    </ul>
                </div>
                <div class="header_container" id="my_routes">
                    <div class="header">My Climbing Routes</div>
                    <div class="info">
                        <form action="/climber/{currentUserId}(currentUserId=${currentUserId})/routes/add">
                            <button class="button">Add Route</button>
                        </form>
                        <ul id="my_route_list">
                            <li th:each="route : ${routeList}">
                                <a th:href="@{/climber/{currentUserId}(currentUserId=${currentUserId})/routes/{id}(id=${route.routeID})}" th:text="${route.name}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>