<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Gym Homepage Routes</title>
        <link th:href="@{/css/userHomepage.css}" rel="stylesheet" />
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class ="container">
            <div class="box">
                <h1>Puzzle</h1>
                <div class="wrapper">
                    <div class="sidebar">
                        <ul id="tabs">
                            <li class="inactive">
                                <a href="#top">Home</a> <!-- We can put in a logo here and make onclick = homepage-->
                            </li>
                            <li class="active">
                                <a href="#top">Climbing Routes</a>
                            </li>
                            <li class="inactive">
                                <a href="#top">Events</a>
                            </li>
                            <li>
                                <a href="/">Log Out</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header_container" id="my_gyms">
                        <div class="header">Climbing Routes</div>
                        <div class="info">
                            <form action="/gym/routes/create">
                                <button class="button">Create Route</button>
                            </form>
                            <ul >
                                <li th:each="gymroute : ${gymrouteList}">
                                    <a th:href="@{/gym/routes/{id}(id=${gymroute.id})}" th:text="${gymroute.name}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>