<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Gym Homepage Route</title>
        <link th:href="@{/css/userHomepage.css}" rel="stylesheet" />
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class ="container">
            <div class="box">
                <h1>Puzzle</h1>
                <div class="wrapper">
                    <div class="sidebar">
                        <ul id="tabs">
                            <li>
                                <a th:href="@{'/gym/' + ${currentUserId} + '/routes'}">Home</a> <!-- We can put in a logo here and make onclick = homepage-->
                            </li>
                            <li class="active">
                                <a th:href="@{'/gym/' + ${currentUserId} + '/routes'}">Climbing Routes</a>
                            </li>
                            <li class="inactive">
                                <a th:href="@{'/gym/' + ${currentUserId} + '/events'}">Events</a>
                            </li>
                            <li>
                                <a href="/">Log Out</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header_container" id="my_routes">
                        <div class="header" th:text="${route.name}"></div>
                        <div class="info">
                            <form action="#" th:action="@{'/gym/' + ${currentUserId} + '/routes/edit'}" th:object="${route}">
                                <input type="hidden" th:field="*{routeID}"/>
                                <button class="button" type="submit">Edit Route</button>
                            </form>
                            <form action="#" th:action="@{'/gym/' + ${currentUserId} + '/routes'}" method="post" th:object="${route}">
                                <input type="hidden" th:field="*{routeID}"/>
                                <button class="button" type="submit">Delete Route</button>
                            </form>
                            <ul>
                                <li>
                                    General Information
                                    <ul id="gen_info" >
                                        <li>Difficulty: <b th:text="${route.difficulty}"/></li>
                                        <li>Climbing Style: <b th:text="${route.climbingStyle}"/></li>
                                        <li>Location and Environment: <b th:text="${route.locationAndEnvironment}"/></li>
                                        <li>Notes: <b th:text="${route.notes}"/></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>